.bar-graph {
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  background: antiquewhite;
  border: 1px black;
}

.bar {
  grid-row-start: 1;
  grid-row-end: 101;
  border-radius: 2px 2px 0 0;
  background-color: #ff4136;
}
